<%= _.template(require('html-loader!../../layouts/header.html'))({
    htmlWebpackPlugin: htmlWebpackPlugin,
    text: {
        title: `Reminder`
    }
}) %>

<div class="page">
    <div class="page__content">
        <%= _.template(require('html-loader?&interpolate!../../components/header/header.html'))() %>
        <main class="main">
            <%= _.template(require('html-loader?&interpolate!../../components/reminders/reminders.html'))() %>
        </main>
    </div>
</div>

<%= require('html-loader!../../components/templates/reminders-item.html') %>

<%= _.template(require('html-loader?&interpolate!../../layouts/footer.html'))() %>
