<script id="reminders-item-template" type="text/template">
    <% if (title) { %> 
        <div class="reminders__item">
            <div class="reminders__item-content">
                <div class="reminders__item-title"><%= title %></div>
    <% } %>
                <div class="reminders__item-main-wrapper">
                    <div class="reminders__item-main">
                        <% if (title) { %> 
                            <div class="reminders__item-date">
                        <% } else { %>
                            <button class="reminders__item-date reminders__button" type="button">
                        <% } %>
                            <svg class="reminders__calendar-svg reminders__svg" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                width="36.447px" height="36.447px" viewBox="0 0 36.447 36.447" style="enable-background:new 0 0 36.447 36.447;"
                                xml:space="preserve">
                                <g><g><path d="M30.224,3.948h-1.098V2.75c0-1.517-1.197-2.75-2.67-2.75c-1.474,0-2.67,1.233-2.67,2.75v1.197h-2.74V2.75
                                            c0-1.517-1.197-2.75-2.67-2.75c-1.473,0-2.67,1.233-2.67,2.75v1.197h-2.74V2.75c0-1.517-1.197-2.75-2.67-2.75
                                            c-1.473,0-2.67,1.233-2.67,2.75v1.197H6.224c-2.343,0-4.25,1.907-4.25,4.25v24c0,2.343,1.907,4.25,4.25,4.25h24
                                            c2.344,0,4.25-1.907,4.25-4.25v-24C34.474,5.855,32.567,3.948,30.224,3.948z M25.286,2.75c0-0.689,0.525-1.25,1.17-1.25
                                            c0.646,0,1.17,0.561,1.17,1.25v4.896c0,0.689-0.524,1.25-1.17,1.25c-0.645,0-1.17-0.561-1.17-1.25V2.75z M17.206,2.75
                                            c0-0.689,0.525-1.25,1.17-1.25s1.17,0.561,1.17,1.25v4.896c0,0.689-0.525,1.25-1.17,1.25s-1.17-0.561-1.17-1.25V2.75z M9.125,2.75
                                            c0-0.689,0.525-1.25,1.17-1.25s1.17,0.561,1.17,1.25v4.896c0,0.689-0.525,1.25-1.17,1.25s-1.17-0.561-1.17-1.25V2.75z
                                            M31.974,32.198c0,0.965-0.785,1.75-1.75,1.75h-24c-0.965,0-1.75-0.785-1.75-1.75v-22h27.5V32.198z"/>
                                        <rect x="6.724" y="14.626" width="4.595" height="4.089"/>
                                </g></g>
                            </svg>
                            <span class="reminders__item-date-text"><%- date %></span>
                        <% if (title) { %> 
                            </div>
                        <% } else { %>
                            </button>
                        <% } %>

                        <span class="reminders__item-content-separator">|</span>

                        <% if (title) { %> 
                            <div class="reminders__item-time">
                        <% } else { %>
                            <button class="reminders__item-time reminders__button" type="button">
                        <% } %>
                            <svg class="reminders__time-svg reminders__svg" version="1.1" id="Capa_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g><g>
                                <path d="M347.216,301.211l-71.387-53.54V138.609c0-10.966-8.864-19.83-19.83-19.83c-10.966,0-19.83,8.864-19.83,19.83v118.978
                                    c0,6.246,2.935,12.136,7.932,15.864l79.318,59.489c3.569,2.677,7.734,3.966,11.878,3.966c6.048,0,11.997-2.717,15.884-7.952
                                    C357.766,320.208,355.981,307.775,347.216,301.211z"/>
                            </g></g>
                            <g><g>
                                <path d="M256,0C114.833,0,0,114.833,0,256s114.833,256,256,256s256-114.833,256-256S397.167,0,256,0z M256,472.341
                                    c-119.275,0-216.341-97.066-216.341-216.341S136.725,39.659,256,39.659c119.295,0,216.341,97.066,216.341,216.341
                                    S375.275,472.341,256,472.341z"/>
                            </g></g>
                            </svg>
                            <span class="reminders__item-time-text"><%- time %></span>
                        <% if (title) { %> 
                            </div>
                        <% } else { %>
                            </button>
                        <% } %>
                    </div>
                    <% if (!title) { %>
                        <button class="reminders__new-item-btn" type="button">ADD</button>
                    <% } %>
                </div>
    <% if (title) { %> 
            </div>

            <button class="reminders__item-button" type="button"></button>
        </div>
    <% } %>
</script>
