$colors: (
    'black':        #262626,
    'blue':         #1976D2,
    'blue-dark':    #9D27B0,
    'grey-darker':  #6B6B6B,
    'grey-dark':    #757575,
    'grey':         #26A79A,
    'grey2':        #258b81,
    'grey-light':   #DBDBDB,
    'grey-lighter': #E0E0E0,
    'grey-lightest':#E4E4E4,
    'yellow-light': #FAEBD7,
    'green-dark':   #159788,
    'white':        #FFFFFF,
);

@function color($color) {
    @return map-get($colors, $color);
}
