* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    font-size: var(--font-size-base);
    box-sizing: border-box;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    position: relative;
    display: block;
    margin: 0;
    background-color: color('gray-lighter');
}

.page {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: color('grey-lightest');

    &__content {
        width: 600px;
        height: 85%;
        box-shadow: 0 5px 20px -4px rgba(0, 0, 0, .5);

        @media (max-width: grid('md')) {
            width: 400px;
        }

        @media (max-width: grid('xs')) {
            width: 100%;
            height: 100%;
        }
    }
}

.main {
    position: relative;
    width: 100%;
    height: calc(100% - 80px);

    @media (max-width: grid('xs')) {
        height: calc(100% - 60px);
    }
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

input {
    outline: none;
    border: none;
}
